<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Engine Free</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/993165982174560326/994666667034554368/MOSHED-2022-6-20-12-39-5_2.gif" type="image/x-icon">

    <meta name="author" content="UN TROIS TROIS SEPT">
    <meta property="og:title" content="Search Engine 🔎">
    <meta property="og:description" content="https://github.com/llx404">
    <meta property="og:type" content="website">
    <meta property="og:url" content="index.html">
    <meta name="theme-color" content="rgb(4, 0, 255)">
    <meta property="og:image" content="https://media.discordapp.net/attachments/993165982174560326/994666667034554368/MOSHED-2022-6-20-12-39-5_2.gif">
    <meta property="og:locale" content="en_US">

</head>

<body>
    <div class="bg"></div>

    <center>
      <h1 class="search__title">Aucun résultat</h1>
    </center>
</body>

</html>