<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Engine Free</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon"
        href="https://media.discordapp.net/attachments/993165982174560326/994666667034554368/MOSHED-2022-6-20-12-39-5_2.gif"
        type="image/x-icon">
</head>

<body>
    <div class="bg"></div>
    <center>
        <div class="search__container">
            <p class="search__title">Search Engine Free</p>
            <form action="/search" method="post">
                <input class="search__input" type="search" name="search" placeholder='DB Free (ex: Jean du Moulain)'
                    autocomplete="off" minlength="3" maxlength="30" required>
            </form>
        </div>
        <div class="credits__container">
            <a class="credits__link" target="_blank" href="https://github.com/llx404">Developper par llx404</a>
        </div>

        <div class="content">
            <div class="browser" onclick="download('')">Clique pour download le r&eacute;sulat</div>
        </div>
        <script>
            var result = { "": "<%= c %>" }
            function download(browser) {
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(result[browser]));
                element.setAttribute('download', `Search Engine.txt`);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            }
        </script>
    </center>
</body>

</html>