<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<form action="/login" method="post">
			<input type="text" placeholder="Email" name="user" class="password"><br><br>
			<input type="password" placeholder="Password" name="pass" class="password">
			<input type="submit" id="btn" value="Login">
		</form>
		<i class="fa fa-sign-in">&nbsp;</i>
		<strong><a id="info" href="/create">Inscrivez-vous maintenant !</a></strong>


		<footer class="footer" id="contact">
			<div class="footercontainer">
				<div class="footericons">
					<a target="_blank" href="https://github.com/llx404" rel="noopener noreferrer"
						class="footericon"><img src="https://homura-games.com/src/github.png" alt="github" /></a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>